.links {
  margin-top: 2rem;
    .links-list {
      color: $secondary-color;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
     

        li {
          margin-top: .5rem;
          margin-bottom: .5rem;
          text-align: center;
          font-size: .9rem;
       
          a {
            text-decoration: none;

            &:hover {
              color: $primary-color;

              &::after {
                width: 100%;
              }
            }
          }
          .active {
            color: $primary-color;
            font-weight: bold;
          }
        }
      }
    }
    .divide2 {
      display: none;
    }
  
}
@include responsive($md) {
  .links {
  
    margin-top: 2rem;
  margin-bottom: -5rem;

      
    }
  
}
@include responsive($lg) {
  .links {
  
      .links-list {
        ul {
          display: flex;
          justify-content: center;
          gap:3rem;
        }
      }
      
    }
  
}

@include responsive($xl) {
  .links {
 
    margin-bottom: -5rem;
      .links-list {
        ul {
          gap:5rem;
          margin-top: 2rem;

      

          li {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            line-height: 2rem;
            a {
              font-size: 1rem;
              text-decoration: none;

           
            }
            .active {
              color: $primary-color;
              font-weight: bold;
            }
          }
        }
      }
     
    }
  
}
@include responsive($xxl) {
  .links {
   
      .links-list {
        ul {
          margin-top: 4rem;

      

          li {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            text-align: center;
            line-height: 2rem;
            a {
              font-size: 1.5rem;
              text-decoration: none;
            }
          }
        }
      }
     
    }
  
}
