<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Service</title>
  </head>

  <body>
    <header class="service-header">
      
      </header>

      <section class="offer">
        <div class="container">
          <h1>
            What We Offer
            <p>
              In order to reach our clients, we provide a variety of services.
              Please see the list below and contact us if you have any queries.
            </p>
          </h1>
          <div class="offer-des" id="offerApp">
            <div class="offer-links">
              <button  @click.stop="toggleVisiblity(1)"><img class="service1" src="./Image/Service1-1.svg" alt="" />
              <h5> Printing </h5></button>
            
              <button  @click.stop="toggleVisiblity(2)"><img class="service2" src="./Image/Service2-1.svg" alt="" />
              <h5> Logo  </h5></button>
              
              <button  @click.stop="toggleVisiblity(3)"><img class="service3" src="./Image/service3-1.svg" alt="" />
              <h5> Packaging </h5></button>
              
              <button  @click.stop="toggleVisiblity(4)"><img class="service4" src="./Image/service4-1.svg" alt="" />  
              <h5> Graphics  </h5></button>
            
              <button  @click.stop="toggleVisiblity(5)"><img class="service5" src="./Image/service5-1.svg" alt="" />     
              <h5> Branding </h5></button>
         
            </div>
    
            <div class="offer-des-container" v-for="offer in offers" :key="offer.id">
              <div class="offer2" v-if="offer.show">
                <div class="offer-desc-list">
                  <span class="offer3" v-for="title in offer.titles" :key="title">
    
                    <span>{{ title }}</span>
                    <span v-if="!offer.titles.length - 1">
    
                      <img src="./Image/circle.svg" alt="">
                    </span>
    
    
    
                  </span>
    
                </div>
                <div class="offer-desc-full">
                  <p>
                    {{ offer.desc1 }}
                  </p>
                </div>
                <div class="offer-desc-letter">
                  <p>
                    {{ offer.desc2 }}
                  </p>
                </div>
              </div>
    
    
            </div>
          </div>
          <div class="btn-flex">
            <a class="btn btn-outline-primary " href="project.php">VIEW WORKS</a>
    
          </div>
    
        </div>
      </section>

    <section class="contact">
      <div class="container">
        <h1>Contact Us
          <p>
            Contact us at any time using the information below.
          </p>
        </h1>
      </div>
      <div class="contact-container row">
        <div class="contact-list col-12">
          <div>
            <a href="https://www.behance.net/eli-has">
              <!-- <i class="bx bxl-behance"></i> -->
              <img src="./Image/co2.svg" alt="">
              <span>behance.net/eli-has</span>
            </a>
          </div>

          <div>
            <a href="https://www.facebook.com/designelias">
              <img src="./Image/co1.svg" alt=""><span>designelias</span>
            </a>
          </div>
          <div>
            <a href="https://t.me/Elegant_Design_Print">
              <img src="./Image/co3.svg" alt=""><span>Elegant Design</span>
            </a>
          </div>
          <div>
            <a href="mailto:infooelias@gmail.com">
              <img src="./Image/co5.svg" alt=""><span>infooelias@gmail.com</span>
            </a>
          </div>
          <div>
            <a href="#">
              <img src="./Image/co4.svg" alt=""><span> +251 11 888 9960 </span>
            </a>
          </div>
          <div>
            <a href="#">
              <img src="./Image/co4.svg" alt=""><span> +251 913 121812</span>
            </a>
          </div>
        </div>
       
        <div class="contact-btn">
          <a class="btn btn-primary" href="#">Contact Us </a>
        </div>
      </div>
    </section>

    <section class="call-to-action3">
      <div class="call-title">
        Please contact us if you would like to order a design or for additional information.
      </div>
      <div class="call-btn">
        <a href="contact.html" class="btn btn-outline-secondary" href="#">Contact Us </a>
      </div>
    </section>

    <footer class="footer-down">
     
    </footer>
    <script src="./js/pages.js" type="module"></script>
    <script src="./js/app.js" type="module"></script>
   
  </body>
</html>
